body{
    margin: 0;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1{
    margin: 0;

    
}
.git{
    margin:30px auto 30px auto;
    width :50%;
    text-align: center;
}


.top-div{
    position:relative;
    background-color:darkseagreen;
    width:100%;
    height: 675px;
    
    
    
    
}

.heading{
    display: inline-block;
    position:relative;
    top:200px;
    right:30px;
    margin: 0;
    padding:0px;
    font-size:50px;
    
    
}
.paragraph{
   display:inline;
   position:relative;
   top:200px;
   right:110px;
   margin:0px;
   font-size:1.5rem;
   
  
}
.mountain{
    display:block;
    margin-left:30%;
    position:relative;
    top:200px;
}
.cloud-1{
    position:absolute;
    top:150px;
    right:500px;
}
.cloud-2{
    position:relative;
    top:220px;
    right:180px;
}


.skill-row{
    
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}

.bottom-container{
  color:#ffffff;
  background-color: #3498db;
  height: 150px;
  margin-top: 100px ;
}
.twitter{
    margin:0 100px 0 100px; 
}
.socials{
    position:relative ;
    top:50px;
}
.my-image{
    border-radius: 50%;
    margin-top:5px;
    display: inline-block;
}
.html{
    border-radius: 50%;
    width:25%;
    float:left;
    margin:0 130px 0 30px;
   
}

.css{
    border-radius: 50%;
    width: 35%;
    float:right;
    margin:0 60px 0 30px;
    
}

h3{
    color:#11999E;
}
h2{
    color:#11999E;
    font-weight: normal;
}
.profile{
    width: 50%;
    margin: 100px auto 100px auto;
    
    line-height: 2;
}
.contact-me{
    line-height:2;
}

.btn {
    background: #3498db;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
   
    text-decoration: none;
  }
hr{
    width:5%;
    height:0px;
    border-width: 5px;;
    border-style:dotted none none none;
    color:grey;
}
